<header id="header" class="fixed-top  d-flex justify-content-center align-items-center header-transparent" style="margin-top: 15px;">

<nav class="nav-menu d-none d-lg-block backgroundNavbar">
  <ul class="colorwhite">
    <li class="nav-link" routerLinkActive="active"><a routerLink="accueil">Accueil</a></li>
    <li><a href="#about">A propos</a></li>
    <li><a href="#resume">Curiculum vitae</a></li>
    <li><a href="#Réalisations&Hobbies">Réalisations & Hobbies</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a target = "_blank" href="http://cda11.2isa.org/cv-site.php">Portfolio version PHP</a></li>

  </ul>
</nav><!-- .nav-menu -->
</header>
 
<router-outlet></router-outlet>
    

